
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@font-face {
  font-family: '../../fonts/icons';
  src:
    url('fonts/icons.ttf?mviq12') format('truetype'),
    url('fonts/icons.woff?mviq12') format('woff'),
    url('fonts/icons.svg?mviq12#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon"], [class*=" _icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._iconsearch:before {
  content: "\e900";
  color: #3d348b;
}
._iconcarbon:before {
  content: "\e901";
  color: #fff;
}
._iconsearch2:before {
  content: "\e902";
  color: #3d348b;
}
._iconicon1:before {
  content: "\1f336";
  color: #fff;
}
._iconicon2:before {
  content: "\e904";
}
._iconphone:before {
  content: "\e905";
  color: #fff;
}
._iconemail:before {
  content: "\e906";
  color: #fff;
}
._iconicon3:before {
  content: "\e907";
  color: #fff;
}


$font-family: "PT Sans";
$maxWidthContainer: 1920;
$maxWidth: 1296;
$mainColor: #3D348B;


.wrapper {
	padding: 0 16.25%;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100vw;
	overflow: hidden;
}

body {
	color: #333;
	font-family: $font-family;
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	&.lock-scroll {
		overflow: hidden;
	}
}


//Header

header{
	height: 110px;
	font-family: $font-family;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: calc(9px + 6 * (100vw / 1400));
}

nav {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: center;
	flex: 80%;
}

nav a {
	color: #000;
	padding: 0 1%;
}

.search-box {
	position: relative;
	flex: 17%;
	input {
		position: relative;
		max-width: 7.81vw;
		border-bottom: 1px solid #ccc;
		font-size: calc(9px + 6 * (100vw / 1400));
	}
	&::before {
		content: '';
		position: absolute;
		background: url('../../images/png/search.png') 0 0 / cover;
		top: -20%;
		left: -30% ;
		width: 1.4vw;
		height: 1.4vw;
	}
}

.lang-submit {
	flex: 3%;
}

.langs {
	position: relative;
	padding: 0 5% 0 0;
}

.langs .dis-active-langs{
	display: none;
	position: absolute;
	padding: 20%;
	bottom: -250%;
	left: -20%;
}

.langs:hover .dis-active-langs{
	display: block;
}

.langs::after {
	content: '';
	position: absolute;
	top: 40%;
	right: -10px;
	height:2px;
	width: 8px;
	background-color: #5DB7DE;
	transform: rotate(-45deg);
}

.langs::before {
	content: '';
	position: absolute;
	top: 40%;
	right: -6px;
	height:2px;
	width: 8px;
	background-color: #5DB7DE;
	transform: rotate(45deg);
}

.langs li {
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

.langs li.active-lang {
	display: block;
}

.menu-burger {
	flex: 8% 0 0;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	display: none;
	z-index: 10;
	.line {
		width: 100%;
		height: 2px;
		background-color: #3d348b;
		align-self: center;
		position: relative;
		transition: 0.5s;
		&::after, &::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #3d348b;
			transition: 0.5s;
		}
		&::before{
			top: -10px;
		}
		&::after{
			bottom: -10px;
		}
	}
	&.menu-active {
		.line {
			background-color: transparent;
			transition: 0.5s;
		}

		.line::before{
			transform: rotate(45deg);
			top: 0;
			transition: 0.5s;
			background-color: #fff;
		}

		.line::after{
			top: 0;
			transform: rotate(-45deg);
			transition: 0.5s;
			background-color: #fff;
		}
	}
}

.navigation {
	position: relative;
	top: 0;
	left: 0;
}

.navigation.active-nav {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #6960C2;
	overflow-y: scroll;
	flex-direction: column;
	right: 0;
	transition: 0.5s;
	top: 0;
	z-index: 10;
	a, a:visited {
		padding: 15px 0 15px 40%;
		color: #fff;
		font-size: calc(4px + 40 * (100vw / 1400));
		font-weight: bold
	}
}

//Header


//Main

main {
	flex: 1 0 auto;
}

.banner {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba(61, 52, 139, 0.5)), url('../../images/img/banner.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-family: 'PT Sans';
	h1, h3, h4 {
		font-weight: bold;
	}
}

h1 {
	font-size: calc(40px + 10 * (100vw / 1400));
	line-height: 130%;
}

.banner-about {
	flex: 35% 0 0;
	display: flex;
	flex-direction: column;
	p {
		max-width: 85%;
		font-size: calc(8px + 8 * (100vw / 1400));
		padding: 25% 0;
	}
	h3 {
		font-size: calc(8px + 10 * (100vw / 1400));
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
		&::after{
			content: '';
			position: absolute;
			top: -20%;
			right: 50%;
			background: url('../../images/png/arrow-right.png') center / cover;
			width: 1.75vw;
			height: 1.75vw;
		}
	}
}

.services-grid {
	flex: 50% 0 0;
	display: grid;
	@media (min-width: 1700px) {
		grid-template: repeat(2, minmax(150px, 25vh)) / repeat(2, minmax(300px, 20vw));
	}
	grid-template: repeat(2, minmax(150px, 200px)) / repeat(2, minmax(200px, 300px));
	grid-gap: 4%;
	h4 {
		font-size: calc(8px + 10 * (100vw / 1400));
	}
	h3 {
		font-size: calc(9px + 20 * (100vw / 1400));
	}
	p {
		font-size: calc(9px + 10 * (100vw / 1400));
		max-width: 100%;
	}
}

.element {
	border-radius: 20px;
	background-color: #5DB7DE;
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	font-family: $font-family;
	font-weight: bold;
	h3 {
		font-size: calc(4px + 9 * (100vw / 1400));
	}
	p {
		font-size: calc(4px + 14 * (100vw / 1400));
	}
}

.services {
	font-family: $font-family;
	display: flex;
	justify-content: space-between;
	margin: 150px 0;
	.services-grid {
		flex: 65% 1 0;
		padding-bottom: 5%;
		justify-content: center;
		@media (min-width: 1700px) {
			grid-template: repeat(2, 11.61vw) / repeat(2, minmax(300px, 18vw));
		}
		grid-template: repeat(2, 11.61vw) / repeat(2, minmax(16.25vw, 1fr));
		grid-gap: 4%;	
	}
}

.services-shadow {
	box-shadow: 0px 7px 6px rgb(198, 198, 198);
}

.services-info {
	h2 {
		font-size: calc(9px + 30 * (100vw / 1400));
		font-weight: bold;
		padding: 0 0 10% 0;
		text-shadow: 0px 7px 6px rgb(198, 198, 198);
	}
	a {
		font-size: calc(9px + 9 * (100vw / 1400));
		color: #3D348B;
		border-bottom: 2px dotted #3D348B;
		line-height: 130%;
		&:visited {
			color: #3D348B;
		}
	}
	.info {
		position: relative;
		max-width: 60%;
		padding: 5% 0;
		&:before {
			content: 'PDF';
			font-family: $font-family;
			font-size: calc(4px + 10 * (100vw / 1400));
			box-shadow: 0px 7px 6px rgb(198, 198, 198);
			color: #fff;
			font-weight: bold;
			text-align: center;
			padding: 0.65vw 0.55vw;
			position: absolute;
			top: 25%;
			right: -25%;
			width: 3vw;
			height: 2.5vw;
			border-radius: 0.75vw;
			background-color: #5DB7DE;

		}
	}
}

.service {
	background-color: #3D348B;
	min-height: 11.61vw;
}


//ABOUT

.about-company {
	display: flex;
	margin: 100px 0 110px 0;
}

.about {
	font-family: $font-family;
	flex: 60% 1 1;
	h2 {
		font-size: calc(9px + 30 * (100vw / 1400));
		font-weight: bold;
		padding: 0 0 5% 0;
	}
	p {
		font-size: calc(4px + 12 * (100vw / 1400));
		padding: 2% 0;
		max-width: 80%;
	}
	ul {
		display: block;
		list-style-position: inside;
		list-style-type: disc;
		font-size: calc(4px + 12 * (100vw / 1400));
		padding: 2% 0 2% 3%;
	}
	li {
		list-style-type: disc;
		max-width: 90%;
		padding: 1.5% 0 1.5% 2%;
	}
}

.video {
	flex: 40% 1 1;
	margin: 8% 0 0 0;
	overflow: hidden;
	border-radius: 20px;
	.element {
		min-height: 8.9vw;
		padding: 5%;
		p {
			line-height: 1.2;
		}
	}
}

.video-item {
	margin-bottom: 5%;
	width: 100%;
	border-radius: 20px;
	min-height: 20vw;
	object-fit: cover;
	cursor: pointer;
}

.video-wrapper {
	position: relative;
	&.playing::before {
		display: none;
	}
}

.video-wrapper::before {
	content: '';
	position: absolute;
	top: calc(50% - 1.5vw);
	left: calc(50% - 1.5vw);
	height: 3vw;
	width: 3vw;
	background-color: #000;
	background: url('../../images/png/Play.png') center / cover;
}



//News

.news {
	margin: 150px 0;
}

.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 3.1vw;
	h3 {
		font-weight: bold;
		font-size: calc(4px + 35 * (100vw / 1400));
	}
	a, a:visited {
		color: #3D348B;
		font-weight: bold;
		font-size: calc(4px + 12 * (100vw / 1400));
		text-transform: uppercase;
		position: relative;
		padding-right: 5%;
		&::after{
			content: '';
			position: absolute;
			top: -20%;
			right: 0;
			background: url('../../images/png/arrow-right-purple.png') center / cover;
			width: 1.75vw;
			height: 1.75vw;
		}
	}
}

.news-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.new {
	flex: 23.6% 0 1;
	min-width: 150px;

	img {
		width: 100%;
	}
	h3 {
		font-weight: bold;
		font-size: calc(4px + 15 * (100vw / 1400));
		padding-bottom: 5%;	
	}
	p {
		font-size: calc(4px + 10 * (100vw / 1400));	
	}
}

.data {
	padding: 25px 0 15px 0;
	font-weight: bold;
	font-size: calc(4px + 9 * (100vw / 1400));
}

//Footer

footer {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 25.2vw;
	color: #fff;
}

.all-rights-reserved {
	background-color: #3D348B;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-weight: bold;
	font-size: calc(4px + 9 * (100vw / 1400));
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 80px 0 30px 0;	
}

.contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(62, 52, 139, 85%);
	height: 120px;
	font-weight: bold;
	font-size: calc(4px + 10 * (100vw / 1400));
	p {
		background-color: transparent;
	}
}

.address p{
	padding-left: 7%;
	max-width: 80%;
	text-align: left;
}

.address {
	flex: 35% 0 0;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -0.4vw;
		left: 0%;
		width: 1.6vw;
		height: 1.6vw;
		background: url('../../images/png/geo.png') 0 0 / cover;
	}
}

.contact {
	flex: 30% 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}




.number{
	position: relative;
	padding: 5% 3%;
	&::before {
		content: '';
		position: absolute;
		top: 0.6vw;
		left: -25%;
		width: 1.6vw;
		height: 1.6vw;
		background: url('../../images/png/phone.png') 0 0 / cover;
	}
}

.email{
	position: relative;
	padding: 5% 0 5% 12%;
	&::before {
		content: '';
		position: absolute;
		top: 0.6vw;
		left: 0%;
		width: 1.6vw;
		height: 1.6vw;
		background: url('../../images/png/email.png') 0 0 / cover;
	}
}


.sub-info {
	padding: 80px 16.25% 0 16.25%;
	flex: 100% 1 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #3D348B;
}

.sub-info__item {
	a, a:visited {
		color: #fff;
		font-size: calc(4px + 10 * (100vw / 1400));
	}
	h3 {
		font-weight: bold;
		font-size: calc(4px + 12 * (100vw / 1400));
		text-transform: uppercase;
		padding: 0 0 15% 0;
	}
	li {
		padding: 5% 0;
	}
}

//ADAPTIVE


//Header

@media (max-width: 1150px) {

	header {
		font-size: calc(4px + 10 * (100vw / 1400));
	}

	.search-box {
		input {
			font-size: calc(6px + 6 * (100vw / 1400));
		}
		&::before {
			top: 0%;
		}
	}

	.langs::after, .langs::before {
		width: 6px;
	}
}

@media (max-width: 900px) {

	.menu-burger {
		display: flex;
		flex: 8% 0 0;
	}

	.logo {
		flex: 15% 0 0;
		img {
			max-width: 100%;
		}
	}

	.navigation {
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: -150vh;
		transition: 0.5s;
	}

	.lang-submit {
		flex: 15% 0 0;
	}

	.langs::after {
		left: calc(15px + 6 * (100vw / 1400));
	}

	.langs::before {
		left: calc(12px + 6 * (100vw / 1400));
	}

	.langs .dis-active-langs{
		display: none;
		position: absolute;
		padding: 20%;
		bottom: -350%;
		left: -20%;
	}

	.search-box {
		position: relative;
		flex: 25% 1 0;
		text-align: center;
		padding: 0 0 0 10%;
		input {
			max-width: 80%;
			width: 100%;
			margin: 0 auto;
			background-color: transparent;
		}
		&::before {
			top: 0;
			left: calc(15% - 1vw);
			width: 2vw;
			height: 2vw;
		}
	}

	.langs::after, .langs::before {
		width: 6px;
	}
}

//Header------------------

//Main


@media (max-width: 1250px) and (min-height: 500px){

	.banner {
		flex-direction: column;
		justify-content: center;
	}

	.banner-about {
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
		align-items: center;
		p {
			padding: 0;
		}
		h3 {
			font-size: calc(8px + 10 * (100vw / 1400));
			text-transform: uppercase;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: -20%;
				right: -50%;
				background: url('../../images/png/arrow-right.png') center / cover;
				width: 2.5vw;
				height: 2.5vw;
			}
		}
	}

	.services-grid {
		justify-content: center;
		grid-template: repeat(2, minmax(100px, 150px)) / repeat(2, minmax(200px, 300px));
		grid-gap: 4%;
	}

	.services {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: 10% 0 0;
		.services-grid {
			justify-content: center;
			grid-template: repeat(3, minmax(100px, 1fr)) / repeat(2, minmax(100px, 300px));
			grid-gap: 6%;
			.element {
				padding: 10%;
			}
		}
	}

	.services-info {
		.info::before {
			padding: 1vw 0;
			height: 3.5vw;
			width: 5.5vw;
		}
	}

	.about-company {
		flex-direction: column;

		.video {
			h3 {
				font-size: calc(6px + 10 * (100vw / 1400));
			}
		}

		video {
			width: 100%;
			min-height: 200px;
		}
	}
}

@media (max-width: 1250px) and (max-height: 500px){
	.banner {
		display: flex;
		flex-direction: normal;
		min-height: 150vh;
	}

	.banner-about {
		flex: 40% 0 1;
	}

	.services-grid {
		justify-content: center;
		grid-template: repeat(2, minmax(40px, 120px)) / repeat(2, minmax(100px, 150px));
		grid-gap: 4%;
	}
}

@media (max-width: 500px) {

	.services-grid {
		padding: 5% 0 0 0;
		justify-content: center;
		grid-template: repeat(2, minmax(60px, 100px)) / repeat(2, minmax(100px, 250px));
		grid-gap: 4%;
	}

	.services {
		.services-grid {
			width: 100%;
			justify-content: center;
			grid-template: repeat(6, minmax(100px, 150px)) / minmax(200px, 250px);
			grid-gap: 4%;
		}		
	}
}

@media (max-width: 450px) {
	.news-list {
		padding: 15% 0 0 0;
		justify-content: center;
		.new {
			padding: 5% 0;
		}
	}
}

//Main------------------

//Footer 


@media (max-width: 1110px) {

	.contact {
		height: 100%;
		flex-direction: column;
		justify-content: center;
	}

	.number, .email {
		padding: 0 0 0 10%;
	}

	.contact-item {
		margin: 5% 0;
	}

	.number::before, .email::before {
		left: -10%;
		top: -30%;
		width: 2vw;
		height: 2vw;
	}
}

//Footer----------